<div class="total-list">
 <span>
    Total amount to by all items is $<%= @total_amount %>
  </span>
  <span>
    Total items are <%= @total_items %>
  </span>
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>

</table>