<table>
<tr>
    <th>Food</th>
    <th>Quantity</th>
    <th>Value</th>
    <th>Actions</th>
  </tr>
<tr>
<td><%= foodrecipe.food.name %></td>
<td><%= foodrecipe.food.quantity %></td>
<td><%= foodrecipe.food.price %></td>
<td><%= foodrecipe.food.name %></td>
</tr>

</table>
