<h1 class="recipe-header">Editing recipe</h1>

<%= render "form", recipe: @recipe %>

<br>

<div class="links">
  <%= link_to "Show this recipe", @recipe %> |
  <%= link_to "Back to recipes", recipes_path %>
</div>
