<p style="color: green"><%= notice %></p>
<div class='show-recipe'>
<%= render @recipe %>
</div>
<div>

  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>

</div>
