.total-list {
  text-align: center;
  font-size: 34px;
  margin-top: 150px;
}

table {
  margin: 20px auto;
  border-spacing: 50px;
}

a {
  display: flex;
  width: 100px;
  margin: 50px auto;
  text-decoration: none;
  font-size: 24px;
  border-style: outset;
  padding: 5px;
  color: black;
}
